* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    color: #e5e7eb;
    background-color: #1f2937;
    min-height: 60px;
    align-items: center;
    padding-right: 195px;
    padding-left: 195px;
    /* padding: 0 30px; */
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.navbar p {
    font-size: 24px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #1f2937;
    /* background-color: #1f2937;
    color: #e5e7eb;
    min-height: 400px; */
}

.header-txt {
    display: flex;
    flex: 1;
    min-height: 100%;
    color: #e5e7eb;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.header h1 {
    font-size: 48px;
}

.header p {
    font-size: 18px;
}

.header-img {
    flex: 1;
    width: auto;
    height: auto;
}

.header-img img {
    height: 300px;
    width: 500px;
}

.btn {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}