* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}


a {
    text-decoration: none;
    color: #f9faf8;
}


.navbar {
    display: flex;
    height: 60px;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 0 310px;
}

.nav-item {
    align-self: center;
    font-size: 24px;
    color: #f9faf8;
}

.header {
    height: 600px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0 310px;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-txt h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

.header-txt p {
    font-size: 18px;
    padding-bottom: 20px;
}

.btn {
    background-color: #3882f6;
    padding: 14px 40px;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.box-info {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 410px;
    gap: 20px;
}

.bx-img {
    width: 300px;
    height: 200px;
    border: 6px solid #3882f6;
    border-radius: 20px;
}

.bx-txt {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}

.txt {
    font-size: 36px;
    text-align: center;
    padding: 25px 410px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
    font-style: italic;
    font-weight: 200;
    flex-direction: column;
}

.author {
    font-size: 36px;
    font-weight: 700;
    text-align: right;
}

.container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    height: 170px;
    width: 900px;
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 150px;
    gap: 100px;
    color: #f9faf8;
}

.cta-btn {
    border: 3px solid #f9faf8;
    padding: 3px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}

.footer {
    height: 60px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}
